<!-- <div class="row">
  <div class="col-md-12">
    <h2>{{pageTitle}}</h2>
  </div>
</div>
 -->

<div class="row">
    <div class="col-xs-10">
      <div class="  ">
        <label class="control-label">Filtrar:</label>
        <div class="form-group has-feedback has-feedback-left">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
            <input ng-model="filterValue" type="text" class="form-control" placeholder="Procurar participantes">
        </div>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label class="control-label">Por</label>
          <select ng-model="filterField" class="form-control">
              <option value="name">Nome</option>
              <option value="email">E-mail</option>
          </select>
        </div>
    </div>
</div>
<p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default ">

      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>Lista de Participantes
         <p class="pull-right">
            <span class="label label-info">Total de programas: {{totalElements}} </span></p>

      </div>

      <div class="panel-body">
        <ul class="list-group ">
          <li class="list-group-item" ng-if="participants.length == 0">Não há participantes adicionados ainda.</li>

           <li class="list-group-item" ng-repeat="participant in participants | participantFilter:filterValue:filterField ">
            <a ng-href="{{'editParticipant.html?participantId=' + participant.id}}" >{{ participant.name + ' - ' + participant.email}}</a>
            <div class="pull-right action-buttons">
              <a ng-href="{{'editParticipant.html?participantId=' + participant.id}}" ><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="" ng-click="deleteParticipant(participant.id, participant.name)" class="red"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
          </li>
        </ul>
      </div>


      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
           </div>
          <div class="col-md-6">
            <ul class="pagination pagination-sm pull-right">
              <li ng-if="firstPage != currentPage" ><a ng-href="{{'listParticipants.html?page=' + (currentPage-1) }}">«</a></li>
              <li ng-repeat="x in pageRange">
                <a ng-if=" x == currentPage + 1" class="active" href="javascript:void(0)">
                {{x}}</a>
                <a ng-if=" x != currentPage + 1" ng-href="{{'listParticipants.html?page=' + (x-1) }}" >
                {{x}}</a>
              </li>
              <li ng-if="lastPage != currentPage" ><a ng-href="{{'listParticipants.html?page=' + (currentPage+1) }}">»</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>