<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="pwd">Nome <span class="text-danger">*</span>:</label>
      <input id="txtName" type="text" placeholder="Nome" ng-model="participant.name" class="form-control" required="true" autofocus>
    </div>
    <div class="form-group" >
      <label for="email">E-mail <span class="text-danger">*</span>:</label>
      <input id="txtEmail" placeholder="E-mail" type="email" ng-model="participant.email" class="form-control" required>
    </div>
    <span class="text-danger">* Campo Obrigatório</span>

  </div>
</div>